# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Input/output
content/*.md
content/*.html

content/static/*

# Config
*.json

# Can I just ignore the binary?
postgen

# For keeping track of things
nextsteps.txt

# Ignore some Docker things for the moment
docker-compose.yml
Dockerfile*
